@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Ludo Game</h1>
    <img class="ludo-image" src="img/gameplay.png"/>

    
</div>


<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Create new game</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Invite up to 3 friends</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Enter a gamesession name</li>
                    <li>Enter names for up to 4 players</li>
                    <li>Create the game</li>
                    <li>Send the gamesession Id to your friends</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Create game</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Join Game session</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Play with your friends</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Go to Join Game</li>
                    <li>Enter a valid gamesession Id</li>
                    <li>Join the game</li>
                    <li>Have fun!</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Join game</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Developers</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Who created the game?</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Patric</li>
                    <li>Jonas</li>
                    <li>Sebastian</li>
                    <li>Students at Teknikhögskolan</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
            </div>
        </div>
    </div>
</div>
