@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Ludo Game</h1>
    <img class="ludo-image" src="img/gameplay.png"/>
    
    <h2 class="getting-started">Getting started!</h2>
    <ul>
        <li>
            <p>New game</p>
        </li>
    </ul>
</div>
