@page
@model Frontend.Pages.JoinGameModel
@{
}
<br />
<br />
<h1>Join game</h1>
<br/>
<p>
    Please enter the gamesession id for the gamesession you want to join.
</p>
<br/><br/>
<form asp-page-handler="test" method="post">
    <div class="input-group">
        <input type="text" asp-for="SessionId" class="form-control rounded" placeholder="Enter gamesession Id"/>
        <button type="submit" class="btn btn-outline-primary">Join game</button>
    </div>
</form>
